:root{
    /* TEXT */
    --dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    /* Background gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /* DIVIDERS */
    --light-grayish-blue: hsl(240, 5%, 91%);
}
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.attribution{
    position: absolute;
    bottom:0;
    margin: 0;
    left:40%;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    padding:0;
    margin:0;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    /* gradient background */
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.title-typo{
    font-size: 1.2rem;
}
.questions-typo {
    font-size: 0.7rem;
    font-family: inherit;
    font-weight: 400;
}
.answers-typo{
    font-size: 0.7rem;
    font-family: inherit;
    font-weight: 400;
}


.desktop-image{
    display: none;
}

/* DESKTOP DESIGN */
@media screen and (min-width: 375px){
    .card {
        position: relative;
        background-color: white;
        width: 820px;
        margin: 107px auto;
        border-radius: 15px;
        
        display:flex;
        align-items: center;
    }
    .desktop-image{
        display: block;
    }
    .box-image{
        
        width: 170px;
        position: absolute;
        left: -83px;
        top: 130px;
        z-index: 2
    }
    .woman-image{
        position: relative;
        width:390px;
        left:-65px;
        
    }
    .image-container {
        content: "";
        background-image: url();
        overflow: hidden;

        margin-right: 50px;
        padding-right: 70px;
    }
    .faq-container{
        
    }
    .faq-dropdowns{
    }
}